<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689924199239-ut7ck7hdf2qlpiok5rmmnm7ak62i6qn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689924199239-ut7ck7hdf2qlpiok5rmmnm7ak62i6qn2</string>
	<key>API_KEY</key>
	<string>AIzaSyB2FzgBaqfK58io-uEYVZcBo-aXkuycvCY</string>
	<key>GCM_SENDER_ID</key>
	<string>689924199239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.FriendlyChat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-7e18e</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-7e18e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689924199239:ios:8feb883cfe38ab9205f262</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-7e18e-default-rtdb.firebaseio.com</string>
</dict>
</plist>